- name: Ensure weather-app directory exists
  file:
    path: /home/{{ ansible_user }}/weather-app
    state: directory
    mode: '0755'

- name: Copy project files to remote server
  synchronize:
    src: ../../../..
    dest: /home/{{ ansible_user }}/weather-app
    rsync_opts:
      - "--exclude=node_modules"
      - "--exclude=.git"
      - "--exclude=build"

- name: Build Docker image for React app
  become: yes
  shell: docker build -t react-nginx-app /home/{{ ansible_user }}/weather-app
  args:
    chdir: /home/{{ ansible_user }}/weather-app

- name: Stop and remove existing container if running
  become: yes
  shell: |
    docker stop react-app || true
    docker rm react-app || true
  ignore_errors: true

- name: Run Docker container to serve React app via NGINX
  become: yes
  shell: docker run -d -p 80:80 --name react-app react-nginx-app
