name: CI/CD Pipeline-Test, Build, and Deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test -- --watchAll=false

      - name: Inject OpenWeather API Key
        run: echo "REACT_APP_OPENWEATHER_API_KEY=${{ secrets.OPENWEATHER_API_KEY }}" >> $GITHUB_ENV

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: unit.xml

  build-and-push-image:
    name: Build & Push Docker Image
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Push Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/react-nginx-app:latest .
          docker push ghcr.io/${{ github.repository_owner }}/react-nginx-app:latest

  deploy:
    name: Deploy to Azure VM
    needs: build-and-push-image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Ansible Playbook
        uses: dawidd6/action-ansible-playbook@v2
        with:
          playbook: ansible/react-nginx/main.yml
          inventory: ansible/inventory.ini
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          user: ${{ secrets.SSH_USER }}
          
          options: |
            --extra-vars "docker_image=ghcr.io/${{ github.repository_owner }}/react-nginx-app:latest"


      # - name: Install Ansible
      #   run: |
      #     sudo apt update
      #     sudo apt install -y ansible
          
      # - name: Setup SSH key
      #   run: |
      #     mkdir -p ~/.ssh
      #     echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/key.pem
      #     chmod 400 ~/.ssh/key.pem
      #     ssh-keyscan -H ${{ secrets.UBUNTU_HOST }} >> ~/.ssh/known_hosts
          
      # - name: Run Ansible playbook
      #   run: |
      #     cd ansible
      #     ansible-playbook -i inventory.yml playbook.yml \
      #       --extra-vars "docker_image=$DOCKER_IMAGE" \
      #       -e "ansible_host=${{ secrets.UBUNTU_HOST }}"
